/* Basics */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Lato', sans-serif;
	line-height: 1;
}

/* Color Variables */
:root {
	--sidebar-background-color: #313443;
	--active-sidebar-link-color: #22252E;
	--hover-sidebar-link-color: #22252E;
	--tooltip-background-color: #313443;
}

.sidebar-navigation {
	display: inline-block;
	min-height: 100vh;
	width: 80px;
	background-color: var(--sidebar-background-color);
	float: left;
}
.sidebar-navigation ul {
	text-align: center;
	color: white;
}
a {
	text-decoration: none;
	color: inherit;
}
.sidebar-navigation ul li {
	padding: 28px 0;
	cursor: pointer;
	transition: all ease-out 120ms;
	position: relative;
}

.sidebar-navigation ul li i {
	display: block;
	font-size: 24px;
	transition: all ease 450ms;
}

.sidebar-navigation ul li .tooltip {
	display: inline-block;
	position: absolute;
	background-color: var(--tooltip-background-color);
	padding: 8px 15px;
	border-radius: 3px;
	margin-top: -26px;
	left: 90px;
	opacity: 0;
	visibility: hidden;
	font-size: 13px;
	letter-spacing: 0.5px;
}

.sidebar-navigation ul li .tooltip:before {
	content: '';
	display: block;
	position: absolute;
	left: -4px;
	top: 10px;
	transform: rotate(45deg);
	width: 10px;
	height: 10px;
	background-color: inherit;
}

.sidebar-navigation ul li:hover {
	background-color: var(--hover-sidebar-link-color);
}

.sidebar-navigation ul li:hover .tooltip {
	visibility: visible;
	opacity: 1;
}

.sidebar-navigation ul li.active {
	background-color: var(--active-sidebar-link-color);
}

.sidebar-navigation ul li.active i {
	color: var(--active-link-color);
}
